# =========================
# Python
# =========================
backend/.venv/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# =========================
# Environment Variables
# =========================
.env
**/.env

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db